
<% unless current_user %>
  <center><h4 class="monsterrat">Sign up or log in to start drawing!</h4></center>
<% end %>

<div id="drawings_of_day">
  <h2>Featured</h2>
</div>

<div id="new_drawing font30">
  <div class="slider-bg">
    <div class="slider center autoplay">
      <%= image_tag('daft_punk.jpg', class: "image_border slick-image box-shadow") %>
      <%= image_tag('duck.jpg', class: "image_border slick-image box-shadow") %>
      <%= image_tag('howl.jpg', class: "image_border slick-image box-shadow") %>
      <%= image_tag('zoey.jpg', class: "image_border slick-image box-shadow") %>
    </div>
  </div>

  <div class="imgs-bg-index">
    <ul class="flex-container">
      <% @drawings.reverse.each do |drawing| %>
        <div class="flex-border box-shadow">
          <p>Title</p>
          <img src="<%= drawing.image_url %>" class="flex-item img_border">
          <p>Upvotes: 70 Comments: 30</p>
        </div>
      <% end %>
    </ul>
  </div>

</div>



