<ul class="ul_nav">
  <li><%= link_to 'Home', root_path %></li>
  <% if current_user %>
    <li><%= link_to 'Profile', users_show_path %></li>
    <li><%= link_to 'My Drawings', drawings_path %></li>
    <li><%= link_to 'Draw!', new_drawing_path %></li>
    <li style="float:right"><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to 'Sign up', new_user_registration_path %></li>
    <li><%= link_to 'Log in', new_user_session_path %>
  <% end %>
</ul>